/*Style screen totaly*/
.screen-style {
    background-color: #030303;
}

.hover-screen{
    background-color: #AFADAD;
}


/* Style navbar*/
.navbar-style {
    background-color: #ff0000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px !important;
}

.style-logo-navbar img {
    height: 56px;
    width: 210px;
}

.navbar-style a {
    font-size: 30px;
    padding: 10px 20px;
    color: white !important;
}


/* index.blade Screen */
.align-button-right {
    float: right !important;
    margin-right: -20px !important;
}

.style-button {
    background-color: #ff0000 !important;
    color: white !important;
    font-size: 19px !important;
    border-radius: 25px !important;
    margin-bottom: 40px !important;
}

/*Register and update holiday screen */

.title-screen {
    color: white !important;
    display: flex;
    text-align: center !important;
    margin-bottom: 40px !important;
}

.button-save-cancel {
    margin-top: 40px !important;
}

.button-save-cancel div button {
    background-color: #188b06 !important;
    border-radius: 25px !important;
    color: white !important;
}

.button-save-cancel div a {
    background-color: #ff0000 !important;
    border-radius: 25px !important;
    color: white !important;
}

.color-label-auto label {
    color: white !important;
    margin-top: 40px !important;
}


/*table shoy holiday plan*/
.custom-table .table-style {
    width: 73%;
    margin: 20px auto;
    align-items: center !important;
    font-size: 23px;
}

.custom-table .table-style th, 
.custom-table .table-style td {
    color: white !important;
    border-bottom: 1px solid #ddd !important;
}